<script src="/assets/js/highlight.js"></script>

<div id="modal_html" class="modal modal-fixed-footer" style="max-width: unset;">
    <div class="modal-content">
        <h4>HTML Example</h4>

        <div class="row mb-0">
            <pre>
<code class="html">&lt;form action=&quot;https://form.castelnuovo.xyz/form/<span id="code_html"></span>&quot; method=&quot;post&quot;&gt;
    &lt;!-- hidden inputs --&gt;
    &lt;input type=&quot;hidden&quot; name=&quot;subject&quot; value=&quot;Pied Piper&quot;/&gt;
    &lt;input type=&quot;hidden&quot; name=&quot;redirect&quot; value=&quot;https://test.castelnuovo.xyz/users/8fa1e6a3-b278-4aca-a846-781b4417806e/1eaead68-48af-6e76-9e2b-010063756265/formjs.html&quot;/&gt;

    &lt;!-- Replace these inputs with your own. Make sure they have a &quot;name&quot; attribute! --&gt;
    &lt;input type=&quot;text&quot; name=&quot;name&quot; value=&quot;Richard Hendricks&quot;/&gt;&lt;br&gt;
    &lt;input type=&quot;email&quot; name=&quot;email&quot; value=&quot;richard@piedpiper.com&quot;/&gt;
    &lt;br&gt;&lt;br&gt;

    &lt;!-- select --&gt;
    &lt;select name=&quot;heardFrom&quot;&gt; &lt;option value=&quot;ph&quot; selected&gt;Product Hunt&lt;/option&gt;
        &lt;option value=&quot;hn&quot;&gt;Hacker News&lt;/option&gt;
    &lt;/select&gt;
    &lt;br&gt;&lt;br&gt;

    &lt;!-- radio buttons --&gt;
    &lt;input type=&quot;radio&quot; name=&quot;animal&quot; value=&quot;tarantula&quot; id=&quot;tarantula&quot; checked/&gt;
    &lt;label htmlfor=&quot;tarantula&quot;&gt;Tarantula&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;animal&quot; value=&quot;turtle&quot; id=&quot;turtle&quot;/&gt;
    &lt;label htmlfor=&quot;turtle&quot;&gt;Turtle&lt;/label&gt;
    &lt;br&gt;&lt;br&gt;

    &lt;!-- checkboxes --&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;likes[pizza]&quot; id=&quot;pizza&quot; checked/&gt;
    &lt;label htmlfor=&quot;pizza&quot;&gt;Pizza &#x1F355;&lt;/label&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;likes[yams]&quot; id=&quot;yams&quot;/&gt;
    &lt;label htmlfor=&quot;yams&quot;&gt;Sweet Potatos &#x1F360;&lt;/label&gt;
    &lt;br&gt;&lt;br&gt;

    &lt;!-- submit --&gt;
    &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;</code>
            </pre>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light modal-close teal">Close</button>
    </div>
</div>
