<script src="/assets/js/highlight.js"></script>

<div id="code" class="modal" style="max-width: unset;">
    <div class="modal-content">
        <h4>Placement Code</h4>

        <div class="row mb-0">
            <pre>
<code class="html">&lt;form action=&quot;https://form.castelnuovo.xyz/send/<span id="code_site_id"></span>&quot; method=&quot;post&quot;&gt;

    &lt;input type=&quot;hidden&quot; name=&quot;subject&quot; value=&quot;email subject&quot;/&gt;
    &lt;input type=&quot;hidden&quot; name=&quot;redirect&quot; value=&quot;https://example.com/thankyou&quot;/&gt;

    &lt;!-- Replace these inputs with your own. Make sure they have a &quot;name&quot; attribute! --&gt;
    &lt;input type=&quot;text&quot; name=&quot;name&quot; value=&quot;Richard Hendricks&quot;/&gt;
    &lt;input type=&quot;email&quot; name=&quot;email&quot; value=&quot;replyto@email.com&quot;/&gt;

    &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;

&lt;/form&gt;</code>
            </pre>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light modal-close teal">Close</button>
    </div>
</div>
