<form id="site" class="modal">
    <div class="modal-content">
        <h4>Create Site</h4>
        <div class="row mb-0">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Site Name</label>
                <span class="helper-text" data-error="Valid site name is required"></span>
            </div>

            <div class="input-field col s12 mb-0">
                <input id="domain" name="domain" type="text" class="validate" placeholder="example.com" required>
                <label for="domain">Site Domain</label>
                <span class="helper-text" data-error="Valid domain is required"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light" type="submit">Submit</button>
    </div>
</form>
